@use "../../../../theme/theme" as theme;
@use "../Button.scss" as *;

.btn-primary {
    @include button;
    background: theme.get("button.primary.background");
    color: theme.get("button.primary.text");
    font-weight: 500;
    font-size: 1em;
    border: 0;

    &:hover {
        background: theme.get("button.primary.hover.background");
        color: theme.get("button.primary.hover.text");
        cursor: pointer;
    }
}
