@use "../../../theme/spacing.scss" as spacing;

#contact {
    max-width: 32rem;
    margin: 0 auto;

    & > div:first-child {
        padding-bottom: spacing.get("lg");
    }

    button {
        width: 100%;
        margin-bottom: spacing.get("xl");
    }
}